/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

router-outlet + *:nth-child(3) > *:first-child {
  margin-top: 2.5rem;
  display: flex;
}

/* html, body { height: 100%; } */
body { margin: 0; font-family: 'Roboto Condensed', sans-serif;}
